/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

@import "components/_banner.css";
@import "components/_card.css";
@import "components/_text.css";
@import "components/_footer.css";
@import "components/_button.css";
@import "components/_images.css";

/* Utilities */
body {
  background: linear-gradient(to bottom, #2a7f8a, white, white, white);
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
