/* Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700'); */

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

@import 'css/components/index';

/* Utilities */
body {
  background: linear-gradient(to bottom, #9ecbd1, white, white, white, white);
  margin: 0;
  font-family: Poppins;
}

h1, h2, h3, h4 {
}

a {
  text-decoration: none;
}

/* Custom design below! */

.profile-pic {
  width: 80%;
}

.card {
  border-bottom: solid 8px #2a7f8a;
  box-shadow: 3px 3px 30px grey;
  font-weight: bold;
}

.card-div {
  display: flex;
}

@media (min-width: 1201px) {
  .card-div {
    flex-direction: row;
  }

  .card {
    height: 30vh;
    width: 350px;
  }

  .img-fluid {
    height: 100% !important;
    opacity: 70%;
    background-color: black;
  }

  .card-img-overlay {
    margin: 150px auto 0 auto;
    background-color: white;
    width: 80%;
    height: 45%;
    box-shadow: 1px 1px 8px lightgrey;

    a {
      margin: auto;
    }
  }

  .card-title {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 0 8px #111;
    text-align: center;
    /* margin: auto; */
    padding: 5% 0 0 1%;
    width: 60%
  }

  .tech-stack {
    width: 40%;
    height: 8%;
    margin-top: 8%;
    padding: 0 1% 0 0;
  }

  .project-description {
    color: rgb(69, 69, 69);
    text-shadow: 0 0 5px #a2a2a2;
    text-decoration: none;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .card-div {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }

  .card {
    width: 750px;
    height: 50vh;
  }

  .img-fluid {
    height: 100% !important;
    opacity: 70%;
    background-color: black;
  }

  .card-img-overlay {
    margin: 150px auto 0 auto;
    background-color: white;
    width: 80%;
    height: 45%;
    box-shadow: 1px 1px 8px lightgrey;

    a {
      margin: auto;
    }
  }

  .card-title {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 0 8px #111;
    text-align: center;
    /* margin: auto; */
    padding: 5% 0 0 1%;
    width: 60%
  }

  .tech-stack {
    width: 40%;
    height: 8%;
    margin-top: 8%;
    padding: 0 1% 0 0;
  }

  .project-description {
    color: rgb(69, 69, 69);
    text-shadow: 0 0 5px #a2a2a2;
    text-decoration: none;
    text-align: center;
  }

  .card-image-overlay {
    margin: 240px auto 0 auto;
    width: 35vw;
    height: 15vh;
  }

  .project-description {
    color: rgb(69, 69, 69);
    text-shadow: 0 0 5px #a2a2a2;
    text-decoration: none;
    text-align: center;
  }

  .img-fluid {
    height: 100% !important;
    opacity: 70%;
    background-color: black;
  }

  .tech-stack {
    width: 40%;
    margin-top: 4%;
    padding: 0 2% 0 0;
  }

  .card-title {
    padding: 4% 0 0 1%;
    font-size: 2.5rem;
  }

  .project-description {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {

  .card-div {
    align-content: center;
  }

  .card-image-overlay {
    margin: 210px auto 0 auto;
    width: 50vw;
    height: 15vh;
  }

  .card {
    width: 70vw;
    height: 40vh;
  }

  .tech-stack {
    padding: 2% 2% 0 0;
  }

  .card-title {
    font-size: 1.8rem;
  }

  .project-description {
    font-size: 1.4rem;
  }
}

@media (max-width: 500px) {
  .profile-pic {
    width: 90%;
    margin-top: 15%;
  }
  .card {
    height: 35vh;
  }

  .tech-stack {
    padding: 4% 2% 0 0;
  }

  .card-title {
    font-size: 1.3rem;
  }

  .project-description {
    font-size: 1rem;
  }

  .card-image-overlay {
    margin: 220px auto 0 auto;
    width: 80vw;
    height: 15vh;
  }

  .footer-container {
    a {
      padding: 0 10px;
    }
  }
}

#about{
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 1.5rem;
  }
}

#projects {
  margin-top: 10%;

  .img-fluid {
    object-fit: cover;
    opacity: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
}

.footer {
  height: 100px;
  width: 100%;
  margin: 0;
}

.contact-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 40%;
  height: 100px;
  margin: auto;
}

.footer button {
  background-color: rgb(255, 255, 255, 0);
  border: none;
}

.fa-linkedin {
  color: #0072b1;
}

.fa-github {
  color: #171515;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-facebook {
  color: #3b5998;
}

.fa-brands:hover {
  height: 53px;
}

.copyright {
  display: flex;
  justify-content: center;
  color: grey;
  height: 50px;
  margin: 60px auto 0;
}

.email-contact {
  a {
    text-decoration: none;
    font-size: 1rem;
  }

  p {
    border-bottom: solid 3px #2a7f8a;
    color: #333;
  }
}
