/* Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700'); */

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

@import 'css/components/index';

/* Utilities */
body {
  background: linear-gradient(to bottom, #9ecbd1, white, white, white, white);
  margin: 0;
  font-family: Poppins;
}

h1, h2, h3, h4 {
}

a {
  text-decoration: none;
}

/* Custom design below! */

.profile-pic {
  width: 80%;
}
.card-div {
  display: flex;
  flex-direction: row;
}

.card {
  height: 30vh;
  width: 25vw;
  border-bottom: solid 8px #2a7f8a;
  box-shadow: 3px 3px 30px grey;
  font-weight: bold;
}

.card-title {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 0 0 8px #111;
  text-align: center;
  /* margin: auto; */
  padding: 5% 0 0 1%;
  width: 60%
}

.card-text {
  color: white;
  font-size: 1rem;
  font-size: bold;
  text-shadow: 1px 1px 5px #333;
}

.card-main {
  display: block !important;
  height: 100%;
  width: 100%;
}

.card-img-overlay {
  margin: 150px auto 0 auto;
  background-color: white;
  width: 80%;
  height: 45%;
  box-shadow: 1px 1px 8px lightgrey;

  a {
    margin: auto;
  }
}

.project-description {
  color: rgb(69, 69, 69);
  text-shadow: 0 0 5px #a2a2a2;
  text-decoration: none;
  text-align: center;
}

.img-fluid {
  height: 100% !important;
  opacity: 70%;
  background-color: black;
}

.tech-stack {
  width: 40%;
  height: 8%;
  margin-top: 8%;
  padding: 0 1% 0 0;
}

#about{
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 1.5rem;
  }
}

#projects {
  margin-top: 10%;

  .img-fluid {
    object-fit: cover;
    opacity: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
}

.footer {
  height: 100px;
  width: 100%;
  margin: 0;
}

.contact-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 40%;
  height: 100px;
  margin: auto;
}

.footer button {
  background-color: rgb(255, 255, 255, 0);
  border: none;
}

.fa-linkedin {
  color: #0072b1;
}

.fa-github {
  color: #171515;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-facebook {
  color: #3b5998;
}

.fa-brands:hover {
  height: 53px;
}

.copyright {
  display: flex;
  justify-content: center;
  color: grey;
  height: 50px;
  margin: 60px auto 0;
}

.email-contact {
  a {
    text-decoration: none;
    font-size: 1rem;
  }

  p {
    border-bottom: solid 3px #2a7f8a;
    color: #333;
  }
}

@media (max-width: 400px) {
  .profile-pic {
    width: 90%;
    margin-top: 15%;
  }

  .card-title {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 1px 1px 8px #333;
    text-align: center;
    margin: auto;
    padding-top: 10%;
  }

  .footer-container {
    a {
      padding: 0 10px;
    }
  }
}

@media (max-width: 1200px) {
  .card-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
