/* Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700'); */

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

@import 'css/components/index';

/* Utilities */
body {
  background: linear-gradient(to bottom, #9ecbd1, white, white, white, white);
  margin: 0;
  font-family: Poppins;
}

h1, h2, h3, h4 {
}

a {
  text-decoration: none;
}

/* Custom design below! */

.profile-pic {
  width: 85%;
}

.card {
  border-bottom: solid 8px #2a7f8a;
  box-shadow: 3px 3px 30px grey;
  font-weight: bold;
}

.card-div {
  display: flex;
}

.img-fluid {
  height: 100% !important;
  opacity: 70%;
  background-color: black;
}

.card-img-overlay {
  background-color: white;
  box-shadow: 1px 1px 8px lightgrey;
}

.card-title {
  color: white;
  font-weight: bold;
  text-shadow: 0 0 8px #111;
  text-align: center;
}

.project-description {
  color: rgb(69, 69, 69);
  text-shadow: 0 0 5px #a2a2a2;
  text-decoration: none;
  text-align: center;
}

@media (min-width: 1201px) {

  .contact-container {
    width: 600px;
  }

  .card-div {
    flex-direction: row;
  }

  .card {
    height: 30vh;
    width: 350px;
    margin: 24px auto;
  }

  .card-img-overlay {
    margin: 150px auto 0 auto;
    width: 80%;
    height: 45%;

    a {
      margin: auto;
    }
  }

  .card-title {
    font-size: 1.5rem;
    padding: 5% 0 0 1%;
    width: 60%
  }

  .tech-stack {
    width: 40%;
    height: 16px;
    margin-top: 8%;
    padding: 0 1% 0 0;
  }
}

@media (max-width: 1200px) {

  .contact-container {
    width: 600px;
  }

  .card-div {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }

  .card {
    width: 750px;
    height: 370px;
    margin: 48px auto;
  }

  .card-img-overlay {
    margin: 270px auto 0 auto;
    width: 550px;
    height: 150px;

    a {
      margin: auto;
    }
  }

  .card-title {
    font-size: 1.5rem;
    padding: 5% 0 0 1%;
    width: 60%
  }

  .card-image-overlay {
    margin: 240px auto 0 auto;
    width: 35vw;
    height: 15vh;
  }

  .tech-stack {
    width: 40%;
    height: 30px;
    margin-top: 30px;
    padding-right: 8px;
  }

  .card-title {
    padding: 12px 0 0 0;
    font-size: 3rem;
  }

  .project-description {
    font-size: 1.8rem;
    margin-top: 16px;
  }
}

@media (max-width: 800px) {

  .contact-container {
    width: 400px;
  }

  .profile-pic {
    margin: 50px 0 0 30px;
  }

  .card-div {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }

  .card {
    width: 480px;
    height: 240px;
    margin: 56px auto;
  }

  .card-img-overlay {
    margin: 160px auto 0 auto;
    width: 350px;
    height: 120px;

    a {
      margin: auto;
    }
  }

  .card-title {
    padding: 12px 0 0 0;
    font-size: 2rem;
    width: 60%
  }

  .tech-stack {
    width: 40%;
    height: 18px;
    margin-top: 22px;
    padding-right: 8px;
  }

  .card-image-overlay {
    margin: 240px auto 0 auto;
    width: 35vw;
    height: 15vh;
  }

  .project-description {
    font-size: 1.2rem;
    margin-top: 16px;
  }
}

@media (max-width: 500px) {

  .contact-container {
    width: 300px;
  }

  .profile-pic {
    width: 90%;
    margin-top: 15%;
  }

  .card-div {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }

  .card {
    width: 400px;
    height: 200px;
    margin: 56px auto;
  }

  .card-img-overlay {
    margin: 150px auto 0 auto;
    width: 330px;
    height: 110px;

    a {
      margin: auto;
    }
  }

  .card-title {
    padding: 12px 0 0 0;
    font-size: 2rem;
    width: 60%
  }

  .tech-stack {
    width: 40%;
    height: 18px;
    margin-top: 22px;
    padding-right: 8px;
  }

  .card-image-overlay {
    margin: 240px auto 0 auto;
    width: 35vw;
    height: 15vh;
  }

  .project-description {
    font-size: 1.2rem;
    margin-top: 16px;
  }
}

#about{
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 1.5rem;
  }
}

#projects {
  margin-top: 10%;

  .img-fluid {
    object-fit: cover;
    opacity: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
}

.footer {
  height: 100px;
  width: 100%;
  margin: 0;
}

.contact-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  height: 100px;
  margin: auto;
}

.footer button {
  background-color: rgb(255, 255, 255, 0);
  border: none;
}

.fa-linkedin {
  color: #0072b1;
}

.fa-github {
  color: #171515;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-facebook {
  color: #3b5998;
}

.fa-brands:hover {
  height: 53px;
}

.copyright {
  display: flex;
  justify-content: center;
  color: grey;
  height: 50px;
  margin: 60px auto 0;
}

.email-contact {
  a {
    text-decoration: none;
    font-size: 1rem;
  }

  p {
    border-bottom: solid 3px #2a7f8a;
    color: #333;
  }
}
