.card {
  height: 70vh;
  background-color: #2a7f8a;
  border-bottom: solid 8px #2a7f8a;
  box-shadow: 3px 3px 30px grey;
  font-weight: bold;
  height: 600px;
}

.card-title {
  color: white;
  font-size: 3rem;
  font-size: bold;
  text-shadow: 1px 1px 8px #333;
}

.card-text {
  color: white;
  font-size: 1.5rem;
  font-size: bold;
  text-shadow: 1px 1px 5px #333;
}

.card-main {
  display: block !important;
  height: 100%;
  width: 100%;
}

.card-img-overlay {
  height: 100%;
  width: auto;

  a {
    margin-top: 20%;
  }
}

.img-fluid {
  height: 100% !important;
  opacity: 70%;
  background-color: black;
}
