.footer {
  height: 350px;
  width: 100%;
  margin: 0;
}

.footer-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 40%;
  height: 200px;
  margin: auto;
}

.footer button {
  background-color: rgb(255, 255, 255, 0);
  border: none;
}

.fa-linkedin {
  color: #0072b1;
}

.fa-github {
  color: #171515;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-facebook {
  color: #3b5998;
}

.fa-brands:hover {
  height: 53px;
}

.copyright {
  display: flex;
  justify-content: center;
  color: grey;
  height: 50px;
  margin: 60px auto 0;
}

.email-contact {
  a {
    text-decoration: none;
    font-size: 1rem;
  }

  p {
    border-bottom: solid 3px #2a7f8a;
    color: #333;
  }
}
