button {
  height: 50px;
  width: 150px;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  color: rgb(245, 244, 244);
  border-radius: 20px;
  border: solid 0.5px rgba(77, 141, 245, 0.9);
  background-color: rgba(77, 141, 245, 0.5);
}

button:hover {
  font-size: 1.6rem;
  background-color: rgba(77, 141, 245, 0.7);
  color: white;
}
